<div class = "footer-wrapper" ng-show = "quote.sections.footer">
	
	<section id = "footer" class = "wow fadeInUpLittle" data-wow-duration="1s">
		<div class = "container">
			<div class = "row">
				<div class = "col-sm-3 leftside">
					<span class ="footer-title wow fadeInLeftLittle" data-wow-duration="1.6s">Centro de belleza</span>
					<span class ="footer-subtitle wow fadeInLeftLittle" data-wow-duration="1.6s">John Doe</span>
					<div class = "info-footer">
						<span class = "wow fadeInLeftLittle" data-wow-duration="1.6s">Carrera 50 No.20-49 Consultorio 102</span>
						<span class = "wow fadeInLeftLittle" data-wow-duration="1.6s">Bogotá, Colombia</span>
						<span class = "wow fadeInLeftLittle" data-wow-duration="1.6s">+571 3444444</span>
						<span class = "wow fadeInLeftLittle" data-wow-duration="1.6s">+571 3222222</span>
					</div>
				</div>
				<hr>
				<div class ="col-sm-9 rightside">
					<div class = "row">
						<div class = "col-sm-5">
							<a href="laser-depilacion" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s">Láser para depilación</a>
							<a href="laser-rejuvenecimiento" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s">Láser de rejuvenecimiento</a>
							<a href="laser-manchas" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s">Láser para eliminar manchas</a>
							<a href="medicina-dermatude" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s">Medicina estética - Dermatude</a>
							<a href="medicina-endymed" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s">Medicina estética - Endymed</a>
						</div>
						<div class = "col-sm-4">
							<a href="tratamientos" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.4s">Tratamientos instantáneos</a>
							<a href="diagnostico" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.4s">Consiente tu cuerpo</a>
							<a href="http://blog.centrodebelleza.com.co/" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.4s">Blog</a>
							<a href="https://www.google.es/maps/dir//4.6766912,-74.0574778/@4.6766885,-74.0596613,17z/data=!3m1!4b1!4m2!4m1!3e0" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.4s">Ubicación</a>
							<a href="contacto" class = "flat-link wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.4s">Contáctanos</a>
						</div>
						<div class = "col-sm-3">
							<div class = "social">
								<span class = "wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.8s">Tel: +571 3222222</span>
								<span class = "wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.8s">Tel: +571 3444444</span>
								<span class = "wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.8s">Cel: +57 3045553627</span>
								<br>
								<a href="#" class = "flat-link fa fa-facebook wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.8s"></a>
								<a href="#" class = "flat-link fa fa-instagram wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.8s"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id = "credits">
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-sm-6 wow fadeInLeftLittle" data-wow-duration="1.6s">
					Centro de belleza John Doe. Todos los derechos reservados
				</div>
				<div class = "col-sm-6 wow fadeInRightLittle" data-wow-duration="1.6s">
					Sitio web desarrollado por <a href="https://carlosroso.com">Carlos Roso</a>
				</div>
			</div>
		</div>
	</section>
</div>