<div class = "hamburger animated fadeInLeftLittle" id= "open-nav" data-wow-delay="2s">
	<a href="" class = "fa fa-bars dark"></a>
</div>
<div class = "nav">
	<div class = "close-btn">
		<a href="" class = "fa fa-times white" id= "close-nav"></a>
	</div>
	<div class = "nav-wrapper">
		<a href="/" class = "hvr-underline-from-center">Inicio</a></br>
		<a href="laser-depilacion" class = "hvr-underline-from-center">Láser Para Depilación</a></br>
		<a href="laser-rejuvenecimiento" class = "hvr-underline-from-center">Láser De Rejuvenecimiento</a></br>
		<a href="laser-manchas" class = "hvr-underline-from-center">Láser Para Manchas</a></br>
		<a href="medicina-dermatude" class = "hvr-underline-from-center">Medicina Estética - Dermatude</a></br>
		<a href="medicina-endymed" class = "hvr-underline-from-center">Medicina Estética - Endymed</a></br>
		<a href="tratamientos" class = "hvr-underline-from-center">Tratamientos instantáneos</a></br>
		<a href="diagnostico" class = "hvr-underline-from-center">Empezar Diagnóstico</a></br>
		<a href="http://blog.centrodebelleza.com.co/" class = "hvr-underline-from-center">Blog</a></br>
		<a href="contacto" class = "hvr-underline-from-center">Contacto</a></br>
	</div>
</div>