<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %> 
</head>
<body>
	<% include ../partials/loader %> 
	<% include ../partials/navigation %> 

	<section id = "hero" class = "hero-wrapper wow fadeIn" data-wow-duration="2s">
		<div class = "hero-message">
			<h1 class="wow fadeInDownLittle" data-wow-duration="2s" data-wow-delay="0.8s" >Centro de belleza</h1>
			<h2 class="wow fadeInDownLittle" data-wow-duration="2s" data-wow-delay="1.6s" >Nicolás Heredia</h2>
			<span class = "fa fa-angle-down wow fadeInDownLittle" data-wow-duration="2s" data-wow-delay="2.6s"></span>
		</div>
	</section>
	<section id = "description" >
		<div class  ="big-white-strip wow fadeInUpLittle" data-wow-duration="1s">
		</div>
		<div class = "description-wrapper container">
			<div class = "row">
				<div class = "col-sm-7">
					<h3 class="wow fadeInLeftLittle" data-wow-duration="1.4s">Mereces lo mejor</h3>
					<p class = "p-1 wow fadeInLeftLittle" data-wow-duration="1.4s"> Decidimos reinventar la industria de la estética y la belleza. Sabemos que quieres lo mejor porque tu cuerpo así lo pide.</p>
					<span class = "subtitle wow fadeInLeftLittle" data-wow-duration="1.4s">Lo que podemos ofrecerte</span>
					<ul>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Láser para depilación</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Láser de rejuvenecimiento</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Láser para eliminar manchas</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Metaterapia</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Radiofrecuencia</li>
					</ul>
					<a href="" id = "know-more-btn" class = "btn btn-flat btn-black wow fadeInLeftLittle" data-wow-duration="1.4s">Conocer más</a>
				</div>
				<div class = "col-sm-5">
					<div class = "black-box-wrapper wow fadeInRightLittle">
						<img src="imgs/diamond.png" class="wow fadeIn" data-wow-duration="1s" >
						<h4 class="wow fadeInRightLittle" data-wow-duration="1.4s"  >Somos el primer centro de belleza de lujo</h4>
						<p class="wow fadeInRightLittle" data-wow-duration="1.4s" >No esperes más. Tu cuerpo te lo pide.</p>
						<a href="" id="images-btn" class = "btn btn-flat btn-white wow fadeInRightLittle" data-wow-duration="1.4s">Ver instalaciones</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id = "images">
		<div class = "container">
			<h4 class = "section-title wow fadeInUp" data-wow-duration="1.6s">El centro de belleza</h4>
			<hr class = "wow fadeInUp" data-wow-duration="1.6s">
			<div class="banner wow fadeInUpLittle" data-wow-duration="0.9s">
				<ul>
					<li><img src="imgs/space1.jpg" class = "img-responsive"></li>
					<li><img src="imgs/space2.jpg" class = "img-responsive"></li>
					<li><img src="imgs/space3.jpg" class = "img-responsive"></li>
				</ul>
			</div>
		</div>
	</section>
	<section id = "zone" class="wow fadeInUpLittle" data-wow-duration="1.6s">
		<div class = "container wow fadeInUpLittle" data-wow-duration="1.6s">
			<h4 class="wow fadeInUpLittle" data-wow-duration="1.6s">¿Cuál zona de tu cuerpo deseas consentir?</h4>
			<div class = "row">
				<div class = "col-sm-2 col-xs-6 wow fadeInLeftLittle" data-wow-duration="1.6s" data-wow-delay="1s">
					<a href="diagnostico" class = " btn btn-flat btn-white">Rostro</a>
				</div>
				<div class = "col-sm-2 col-xs-6 wow fadeInLeftLittle" data-wow-duration="1.6s" data-wow-delay="0.5s">
					<a href="diagnostico" class = " btn btn-flat btn-white">Brazos</a>
				</div>
				<div class = "col-sm-2 col-xs-6 wow fadeInLeftLittle" data-wow-duration="1.6s" >
					<a href="diagnostico" class = " btn btn-flat btn-white">Piernas</a>
				</div>
				<div class = "col-sm-2 col-xs-6 wow fadeInRightLittle" data-wow-duration="1.6s" >
					<a href="diagnostico" class = " btn btn-flat btn-white">Cuello</a>
				</div>
				<div class = "col-sm-2 col-xs-6 wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="0.5s">
					<a href="diagnostico" class = " btn btn-flat btn-white">Glúteos</a>
				</div>
				<div class = "col-sm-2 col-xs-6 wow fadeInRightLittle" data-wow-duration="1.6s" data-wow-delay="1s">
					<a href="diagnostico" class = " btn btn-flat btn-white">Abdomen</a>
				</div>
			</div>
			<a href="diagnostico" class = "flat-link wow fadeInUpLittle" data-wow-duration="1.6s">Ver más</a>
		</div>
	</section>
	<section id = "know-more" class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-7 wow fadeInLeftLittle service-img service1 left">
				</div>
				<div class = "col-sm-5 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle" data-wow-duration="1.6s">Láser para depilación</h2>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s">Nuestra tecnología de depilación, E-Lase, es la plataforma de láser de diodo más rápida en ofrecer tratamientos seguros y efectivos en la más amplia variedad de tipos de piel y pelo.  Este nuevo mecanismo de depilación es más cómodo y efectivo, teniendo mayor seguridad para el paciente, inferior duración en el tratamiento y se puede realizar en todo tipo de pieles. </p>
						<a href="laser-depilacion" class = " btn btn-flat btn-black wow fadeInRightLittle" data-wow-duration="1.6s">Ver detalles</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-7 col-sm-push-5 wow fadeInRightLittle service-img service2 left"></div>
				<div class = "col-sm-5 col-sm-pull-7 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle" data-wow-duration="1.6s">Láser de rejuvenecimiento</h2>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s">Contamos con tecnología Láser CO2, una de las herramientas más efectivas para el rejuvenecimiento facial no quirúrgico. Es un tratamiento que consiste en la emisión de pequeños haces de luz que penetran en la piel  y calientan hasta los niveles más profundos de la dermis. Se reducen arrugas finas, manchas, cicatrices, secuelas de acné en áreas específicas como cara, cuello y manos. 
						</p>
						<a href="laser-rejuvenecimiento" class = " btn btn-flat btn-black wow fadeInLeftLittle" data-wow-duration="1.6s">Ver detalles</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-7 wow fadeInLeftLittle service-img service3 left">
				</div>
				<div class = "col-sm-5 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle" data-wow-duration="1.6s">Láser para manchas</h2>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s">En nuestro centro de belleza empleamos la tecnología IPL-M22 que contiene una pieza de IPL (Luz Plasmada Intensa) la cual permite tratar lesiones epidérmicas y cutáneas como cicatrices y estrías, lesiones cutáneas benignas como angiomas simples y arañas. Esta plataforma es la tecnología ideal para rejuvenecer tu rostro y disminuir algunas manchas. </p>
						<a href="laser-manchas" class = "form-control btn btn-flat btn-black wow fadeInRightLittle" data-wow-duration="1.6s">Ver detalles</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-7 col-sm-push-5 wow fadeInRightLittle service-img service4 left"></div>
				<div class = "col-sm-5 col-sm-pull-7 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle no-vertical-bar" data-wow-duration="1.6s">Medicina Estética</h2>
						<h3 class = "wow fadeInUpLittle vertical-bar" data-wow-duration="1.6s">Metaterapia - Dermatude</h3>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s">La medicina estética agrupa 2 tratamientos: Metaterapía - Dermatude y Radiofrecuencia Endymed 3 Deep. El <b>Dermatude</b> es una técnica de antienvejecimiento, rejuvenecimiento, hidratación y restauración por medio de perforaciones invisibles en la piel de manera indolora. Su piel será, más resistente y ganará  elasticidad, las delgadas líneas y arrugas se disiparán visiblemente.
						</p>
						<a href="medicina-dermatude" class = "form-control btn btn-flat btn-black wow fadeInLeftLittle" data-wow-duration="1.6s">Ver detalles</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-7 wow fadeInLeftLittle service-img service5 left">
				</div>
				<div class = "col-sm-5 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle no-vertical-bar" data-wow-duration="1.6s">Medicina Estética</h2>
						<h3 class = "wow fadeInUpLittle vertical-bar" data-wow-duration="1.6s">Radiofrecuencia Endymed 3 Deep</h3>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s">La medicina estética agrupa 2 tratamientos: Metaterapía - Dermatude y Radiofrecuencia Endymed 3 Deep. El <b>Endymed 3 Deep</b> es un proceso que consiste en la aplicación de ondas electromagnéticas de alta frecuencia para reducir arrugas y flacidez epitelial. La tecnología  3DEEP, es una nueva y revolucionaria forma de entregar energía a las capas más profundas de la piel.
						</p>
						<a href="medicina-endymed" class = "form-control btn btn-flat btn-black wow fadeInRightLittle" data-wow-duration="1.6s">Ver detalles</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-7 col-sm-push-5 wow fadeInRightLittle service-img service6 left"></div>
				<div class = "col-sm-5 col-sm-pull-7 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle" data-wow-duration="1.6s">Tratamientos instantáneos</h2>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s">En el centro de belleza Nicolás Heredia proveemos los mejores tratamientos faciales para reducir arrugas y líneas de expresión. Entre los métodos utilizados en nuestro consultorio se encuentran los rellenos de ácido hialurónico, botox y aplicación con plasma. Estos procedimientos se caracterizan por ser indoloros, seguros y rápidos. En la mayoría de los casos los resultados son naturales y duraderos.
						</p>
						<a href="tratamientos" class = "form-control btn btn-flat btn-black wow fadeInLeftLittle" data-wow-duration="1.6s">Ver detalles</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class = "discover-section">
		<div class = "discover-wrapper wow fadeInLeftLittle" data-wow-duration="1.6s">
			<h5 class ="wow fadeInLeftLittle" data-wow-duration="1.6s" data-wow-delay="1.8s">Descubre</h5>
			<h6 class ="wow fadeInLeftLittle" data-wow-duration="1.6s">Tenemos los mejores equipos, los mejores especialistas, 
				las mejores instalaciones y, sobretodo, lo mejor para ti.
			</h6>
			<hr class ="wow fadeInLeftLittle" data-wow-duration="1.6s">
			<p class ="wow fadeInLeftLittle" data-wow-duration="1.6s">No te vayas sin contarnos un poco más de ti.</p>
			<a href="diagnostico" class = "form-control btn btn-flat btn-black wow fadeInLeftLittle" data-wow-duration="1.6s">Empezar</a>
		</div>
	</section>

	<% include ../partials/footer %> 

	<% include ../partials/scripts %> 


</body>
</html>