<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %> 
</head>
<body>
	
	<% include ../partials/navigation %> 
	
	<section class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-6 wow fadeInLeftLittle service-img service1 left">
				</div>
				<div class = "col-sm-6 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle" data-wow-duration="1.6s">Láser para depilación</h2>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s" data-wow-delay="0.5s">E-Lase es la plataforma de láser de diodo más rápida en ofrecer tratamientos seguros y efectivos en la más amplia variedad de tipos de piel y pelo.  Este nuevo mecanismo de depilación es más cómodo y efectivo, teniendo mayor seguridad para el paciente, inferior duración en el tratamiento y se puede realizar en todo tipo de pieles. Concretamente, la combinación de mayor frecuencia y menor energía de elos® delaser de diodo y radiofrecuencia bipolar que se emplea en el sistema Motif proporciona tratamiento virtualmente indoloros y de duración muy inferior a la de sistemas similares.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id = "description"  class = "info">
		<div class  ="big-white-strip wow fadeInUpLittle" data-wow-duration="1s">
		</div>
		<div class = "description-wrapper container">
			<div class = "row">
				<h3 class="wow fadeInRightLittle" data-wow-duration="1.4s">Más información</h3>
				<div class = "col-sm-5">
					<p class = "p-1 wow fadeInLeftLittle" data-wow-duration="1.4s"> ¿Para qué nos sirve el E-lace?</p>
					<span class = "subtitle wow fadeInLeftLittle" data-wow-duration="1.4s">Depilación de</span>
					<ul>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Bigote</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Barbilla</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Axilas</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Brazos</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Bikini sencillo o completo</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Pierna completa o media pierna</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Espalda</li>
					</ul>
				</div>
				<div class = "col-sm-5">
					<div class = "black-box-wrapper wow fadeInRightLittle">
						<img src="imgs/mirror.png" class="wow fadeIn" data-wow-duration="1s" >
						<h4 class="wow fadeInRightLittle" data-wow-duration="1.4s"  >¿Cuántas sesiones me debo hacer?</h4>
						<p class="wow fadeInRightLittle" data-wow-duration="1.4s" >Para las sesiones de la cara, se debe realizar una sesión cada 4 a 6 semanas y en el cuerpo cada 6 a 8 semanas. El promedio de sesiones para conseguir un resultado óptimo, es de 6 a 8.</p>
						<a href="diagnostico" class = " btn btn-flat btn-white wow fadeInRightLittle" data-wow-duration="1.4s">Empezar diagnóstico</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contraindications">
		<div class = "container">
			<h3 class="wow fadeInLeftLittle" data-wow-duration="1.4s">Contraindicaciones</h3>
			<span class="wow fadeInLeftLittle" data-wow-duration="1.4s"></span>
			<div class = "col-sm-6">
				<ul>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Marcapasos o desfibrilador interno</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Implantes metálicos o algún implante en el área a tratar </li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Historia de cáncer de piel o cáncer activo </li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Enfermedades severas</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Embarazo o lactancia</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Enfermedad Inmunosupresiva</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Hipersensibilidad a la luz</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Uso de medicamentos que produzcan foto sensibilidad</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Enfermedades inmunosupresoras como SIDA, infección por VIH 
						o uso de medicamentos inmunosupresores</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Alteraciones hormonales o endocrinas como Síndrome de Ovario Poliquístico, diabetes, excepto si están bajo control</li>
					</ul>
				</div>
				<div class = "col-sm-6">
					<ul>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cuagulopatías Hemorrágicas o uso de anticoagulantes</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cicatrices Queloides.  </li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Exposición al sol tipo bronceado en las últimas 3 semanas previas al tratamiento</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cremas Autobronceadoras en las últimas dos semanas Piel tipo VI</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cualquier condición activa como fuegos, alergia, eczema, y rash</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Uso de medicamentos que estimulen el crecimiento del vello como Minoxidil</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Láser facial de restructuración y peeling profundo químico en los 
							últimos tres meses, si el área a tratar es la cara</li>
							<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cualquier procedimiento quirúrgico, en el área a tratar, realizado en los últimos tres meses previos a el procedimiento</li>
						</ul>
					</div>
				</div>
			</section>
			<section id= "call-to-action" class = "wow fadeInUpLittle" data-wow-duration="1.4s">
				<div class = "call-wrapper">
					<h3 class = "wow fadeInUp" data-wow-duration="1.4s">No lo pienses más. Tu cuerpo te lo pide.</h3>
					<a href="diagnostico" class = "btn-flat btn-black wow fadeInUp" data-wow-duration="1.4s">Empezar diagnóstico</a>
				</div>
			</section>

			<% include ../partials/footer %> 

			<% include ../partials/scripts %> 
		</body>

		</html>








