<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %> 
</head>
<body>
	
	<% include ../partials/navigation %> 
	
	<section class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-6 wow fadeInLeftLittle service-img service3 left">
				</div>
				<div class = "col-sm-6 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle" data-wow-duration="1.6s">Láser para manchas</h2>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s" data-wow-delay="0.5s">En nuestro centro de belleza empleamos la tecnología IPL-M22 que contiene una pieza de IPL (Luz Plasmada Intensa) la cual permite tratar lesiones epidérmicas y cutáneas como cicatrices y estrías, lesiones cutáneas benignas como angiomas simples y arañas y minimizar las lesiones térmicas como la formación de costras, hiperpigmentación o hipopigmentación.  En términos comunes, esta plataforma nos ayuda a rejuvenecimiento global del rostro y a la homogenización de color (pigmentación) de la piel, ayudándonos a disminuir algunas manchas. Durante el tratamiento pretendemos minimizar las lesiones térmicas, como necrosis térmica, en la piel y en las estructuras de la piel ajenas al tratamiento durante y/o asociada al tratamiento con luz, reduciendo así las posibles complicaciones como la formación de costras, cicatrices, hiper y/o hipopigmentación.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id = "description"  class = "info">
		<div class  ="big-white-strip wow fadeInUpLittle" data-wow-duration="1s">
		</div>
		<div class = "description-wrapper container">
			<div class = "row">
				<h3 class="wow fadeInRightLittle" data-wow-duration="1.4s">Más información</h3>
				<div class = "col-sm-5">
					<p class = "p-1 wow fadeInLeftLittle" data-wow-duration="1.4s"> ¿Para qué nos sirve el IPL – M22?</p>
					<span class = "subtitle wow fadeInLeftLittle" data-wow-duration="1.4s">Tratamiento de</span>
					<ul>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Lesiones epidérmicas y cutáneas pigmentadas benignas como discromía, hiperpigmentación, melasma.</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Lesiones cutáneas benignas como hemangiomas, eritema de rosácea.</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Angiomas y arañas</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Telangiectasias faciales y corporales</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cicatrices y estrías</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Poiquilodermia de Civatte</li>
					</ul>
				</div>
				<div class = "col-sm-5">
					<div class = "black-box-wrapper wow fadeInRightLittle">
						<img src="imgs/mirror.png" class="wow fadeIn" data-wow-duration="1s" >
						<h4 class="wow fadeInRightLittle" data-wow-duration="1.4s"  >¿Cuántas sesiones me debo hacer?</h4>
						<p class="wow fadeInRightLittle" data-wow-duration="1.4s" >Dependiendo de las lesiones a tratar, pero generalmente, con dos sesiones se obtiene un resultado óptimo. </p>
						<a href="diagnostico" class = " btn btn-flat btn-white wow fadeInRightLittle" data-wow-duration="1.4s">Empezar diagnóstico</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contraindications">
		<div class = "container">
			<h3 class="wow fadeInLeftLittle" data-wow-duration="1.4s">Contraindicaciones</h3>
			<span class="wow fadeInLeftLittle" data-wow-duration="1.4s"></span>
			<div class = "col-sm-6">
				<ul>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cáncer en la piel o antecedentes de él </li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cualquier Infección activa </li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Lupus Eritematoso, Porfiria  </li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Hipersensibilidad a la luz</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Uso de medicamentos que produzcan foto sensibilidad </li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Enfermedades inmunosupresoras como SIDA, infección por VIH o uso de medicamentos inmunosupresores</li>
				</ul>
			</div>
			<div class = "col-sm-6">
				<ul>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Alteraciones hormonales o endocrinas como Síndrome de Ovario Poliquístico, diabetes, excepto si están bajo control</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cuagulopatías Hemorrágicas o uso de anticoagulantes</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cicatrices Queloides </li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Exposición al sol tipo bronceado en las últimas 3 semanas previas al tratamiento. </li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Piel tipo VI</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Embarazo y Lactancia</li>

				</ul>
			</div>
		</div>
	</section>
	<section id= "call-to-action" class = "wow fadeInUpLittle" data-wow-duration="1.4s">
		<div class = "call-wrapper">
			<h3 class = "wow fadeInUp" data-wow-duration="1.4s">No lo pienses más. Tu cuerpo te lo pide.</h3>
			<a href="diagnostico" class = "btn-flat btn-black wow fadeInUp" data-wow-duration="1.4s">Empezar diagnóstico</a>
		</div>
	</section>

	<% include ../partials/footer %> 

	<% include ../partials/scripts %> 
</body>

</html>








