<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %> 
</head>
<body>
	
	<% include ../partials/navigation %> 
	
	<section class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-6 wow fadeInLeftLittle service-img service2 left">
				</div>
				<div class = "col-sm-6 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle little-bar" data-wow-duration="1.6s">Láser de rejuvenecimiento</h2>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s" data-wow-delay="0.5s">Contamos con tecnología Láser CO2, una de las herramientas más efectivas para el rejuvenecimiento facial no quirúrgico. Es un tratamiento que consiste en la emisión de pequeños haces de luz que penetran en la piel  y calientan hasta los niveles más profundos de la dermis. Estas lesiones son heridas microscópicas que se van a llenar de tejido sano y con células capaces de promover una rápida cicatrización, y producción de colágeno. El procedimiento consiste en la aplicación de láser de CO2 fraccionado  en las zonas a tratar, se puede realizar con anestesia tópica o con sedación.  El láser actúa calentando el tejido y vaporizando el agua de las células de la epidermis, lo que obliga al tejido a regenerarse.  La piel nueva, sana y radiante reemplaza al tejido dañado, y el proceso continúa durante los 6 meses posteriores al tratamiento, lo que mejora la superficie y la tensión de la dermis.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id = "description"  class = "info">
		<div class  ="big-white-strip wow fadeInUpLittle" data-wow-duration="1s">
		</div>
		<div class = "description-wrapper container">
			<div class = "row">
				<h3 class="wow fadeInRightLittle" data-wow-duration="1.4s">Más información</h3>
				<div class = "col-sm-5">
					<p class = "p-1 wow fadeInLeftLittle" data-wow-duration="1.4s"> ¿Para qué nos sirve el Láser CO2?</p>
					<span class = "subtitle wow fadeInLeftLittle" data-wow-duration="1.4s">Reducción de </span>
					<ul>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Arrugas finas</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Manchas</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cicatrices</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Secuelas de acné</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Rejuvenecimiento de piel en cara, cuello y manos</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Cuidar la piel después de las cirugías faciales</li>
						<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Espalda</li>
					</ul>
				</div>
				<div class = "col-sm-5">
					<div class = "black-box-wrapper wow fadeInRightLittle">
						<img src="imgs/mirror.png" class="wow fadeIn" data-wow-duration="1s" >
						<h4 class="wow fadeInRightLittle" data-wow-duration="1.4s"  >¿Cuántas sesiones me debo hacer?</h4>
						<p class="wow fadeInRightLittle" data-wow-duration="1.4s" >Como el láser de CO2 llega hasta las capas profundas, es un procedimiento que se puede realizar 1 o 2 veces para lograr los resultados.</p>
						<a href="diagnostico.html" class = " btn btn-flat btn-white wow fadeInRightLittle" data-wow-duration="1.4s">Empezar diagnóstico</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contraindications">
		<div class = "container">
			<h3 class="wow fadeInLeftLittle" data-wow-duration="1.4s">Contraindicaciones</h3>
			<span class="wow fadeInLeftLittle" data-wow-duration="1.4s"></span>
			<div class = "col-sm-6">
				<ul>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Presencia de herpes</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Estar con la piel bronceada </li>
				</ul>
			</div>
			<div class = "col-sm-6">
				<ul>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Alteraciones sistémicas importantes</li>
					<li class="wow fadeInLeftLittle" data-wow-duration="1.4s">Tipos de piel muy oscuros </li>
				</ul>
			</div>
		</div>
	</section>
	<section id= "call-to-action" class = "wow fadeInUpLittle" data-wow-duration="1.4s">
		<div class = "call-wrapper">
			<h3 class = "wow fadeInUp" data-wow-duration="1.4s">No lo pienses más. Tu cuerpo te lo pide.</h3>
			<a href="diagnostico.html" class = "btn-flat btn-black wow fadeInUp" data-wow-duration="1.4s">Empezar diagnóstico</a>
		</div>
	</section>

	<% include ../partials/footer %> 

	<% include ../partials/scripts %> 
</body>

</html>








