<!DOCTYPE html>
<html lang="en">
<head>

	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<% include ../partials/head %> 

</head>
<body>
	
	<% include ../partials/navigation %> 
	
	<section class = "service-section">
		<div class = "service-wrapper">
			<div class = "row">
				<div class = "col-sm-6 wow fadeInLeftLittle service-img service6 left">
				</div>
				<div class = "col-sm-6 right">
					<div class = "description">
						<h2 class = "wow fadeInUpLittle" data-wow-duration="1.6s">Tratamientos instantáneos</h2>
						<p class = "wow fadeInUpLittle" data-wow-duration="1.6s" data-wow-delay="0.5s">En el Centro de Belleza John Doe proveemos los mejores tratamientos faciales para reducir arrugas y líneas de expresión. Entre los métodos utilizados en nuestro consultorio se encuentran los rellenos de ácido hialurónico, botox y aplicación con plasma. Estos procedimientos se caracterizan por ser indoloros, seguros y rápidos. En la mayoría de los casos los resultados son naturales y duraderos.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id = "vid-section">
		<h3 class = "wow fadeInUpLittle" data-wow-duration="1.6s"> Nuestros procedimientos </h3>
		<div class = "row video-row">
			<div class = "col-sm-8 col-sm-offset-2">
				<ul class="bxslider">
					<li>
						<!--div id = "plaquetas-vid"></div-->
						<div class="pretty-embed" data-pe-videoid="b6x6F2sL3SM" data-pe-fitvids="true"></div>
					</li>
					<li>
						<!--div id = "botox-vid"></div-->
						<div class="pretty-embed" data-pe-videoid="gg-LsLOfNAc" data-pe-fitvids="true"></div>
					</li>
					<li>
						<!--div id = "botox-vid"></div-->
						<div class="pretty-embed" data-pe-videoid="3uoOUubX1NU" data-pe-fitvids="true"></div>
					</li>
					<li>
						<!--div id = "botox-vid"></div-->
						<div class="pretty-embed" data-pe-videoid="BOW0gX6SwZk" data-pe-fitvids="true"></div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id = "normal-descr">
		<div class = "container">
			<div class = "col-sm-8 col-sm-offset-2">
				<div class = "descr-wrapper botox">
					<h3 class = "wow fadeInLeftLittle">Botox</h3>
					<p class = "wow fadeInUp" data-wow-duration="2s">Reduce las arrugas y líneas de expresión obteniendo una apariencia más joven con la moderna aplicación de la Toxina Botulínica. Es un sencillo procedimiento no quirúrgico, que ayuda a retener la elasticidad de la piel y de los músculos del rostro. Se aplica principalmente en áreas donde hay alta actividad muscular, es decir, mayor gesticulación lo que produce la formación de las arrugas.</p>
					<p class = "wow fadeInUp" data-wow-duration="2s">La aplicación de Toxina Botulínica es avanzada, disminuye las arrugas de frente, entrecejo y contorno de ojos (patas de gallo). Según la necesidad de cada paciente se pueden elevar sutilmente las cejas para realzar la mirada.</p>
					<p class = "wow fadeInUp" data-wow-duration="2s">La Toxina Botulínica se puede aplicar también a los lados de la boca y las mejillas, ya que los músculos y la piel de esta parte de la cara tienden a caerse. Otra zona de aplicación es el cuello, donde muchas personas tienden a formar líneas o las llamadas bandas del cuello que dan un aspecto envejecido.</p>
					<p class = "wow fadeInUp" data-wow-duration="2s">Con nuestra moderna técnica de aplicación el resultado es completamente natural. Tiene la ventaja que previene la formación de nuevas arrugas. Es un tratamiento que realizado de forma adecuada y por manos expertas es seguro y eficaz. Su efecto dura entre 4 y 6 meses.
					</p>
				</div>

			</div>
		</div>
	</section>
	<section id = "gallery-botox">
		<div class = "col-sm-8 col-sm-offset-2">
			<ul class = "bxslider-2">
				<li>					<img src="imgs/botox/1.jpg">				</li>
				<li>					<img src="imgs/botox/2.jpg">				</li>
				<li>					<img src="imgs/botox/3.jpg">				</li>
				<li>					<img src="imgs/botox/4.jpg">				</li>
				<li>					<img src="imgs/botox/5.jpg">				</li>
				<li>					<img src="imgs/botox/6.jpg">				</li>
				<li>					<img src="imgs/botox/7.jpg">				</li>
				<li>					<img src="imgs/botox/8.jpg">				</li>
				<li>					<img src="imgs/botox/9.jpg">				</li>
				<li>					<img src="imgs/botox/10.jpg">				</li>
				<li>					<img src="imgs/botox/11.jpg">				</li>
				<li>					<img src="imgs/botox/12.jpg">				</li>
				<li>					<img src="imgs/botox/13.jpg">				</li>
				<li>					<img src="imgs/botox/14.jpg">				</li>
				<li>					<img src="imgs/botox/15.jpg">				</li>
				<li>					<img src="imgs/botox/16.jpg">				</li>
				<li>					<img src="imgs/botox/17.jpg">				</li>
				<li>					<img src="imgs/botox/18.jpg">				</li>
			</ul>
		</div>
		
	</section>
	<section id = "normal-descr">
		<div class = "container">
			<div class = "col-sm-8 col-sm-offset-2">
				<div class = "descr-wrapper">
					<h3 class = "wow fadeInLeftLittle">Rellenos de ácido hialurónico</h3>
					<p class = "wow fadeInLeftVeryLittle" data-wow-duration="2s">Con este relleno facial de última generación a base de Ácido Hialurónico que se asemeja al del propio organismo, disminuye notoriamente las arrugas profundas y las líneas de expresión, restaura el volumen de algunas zonas del rostro e hidrata la piel mejorando su aspecto.El Ácido Hialurónico es muy útil para solucionar problemas de líneas de expresión, patas de gallo, ojeras, aumento de pómulos, modelado del contorno facial, surcos nasolabiales, corrección de cierto tipo de cicatrices, realce y volumen de labios, entre otros.</p>
					<p class = "wow fadeInLeftVeryLittle" data-wow-duration="2s">Además el Ácido Hialurónico da brillo y elasticidad a la piel debido a que estimula la producción de colágeno gracias a su alto poder hidratante. Su durabilidad es entre 10 y 12 meses por su efecto de larga duración, ya que un producto altamente resistente.
						El procedimiento para aplicar el Ácido Hialurónico es sencillo, rápido y seguro. Sus resultados son instantáneos, naturales y duraderos.

					</p>
				</div>

			</div>
		</div>
	</section>
	<section id = "normal-descr">
		<div class = "container">
			<div class = "col-sm-8 col-sm-offset-2">
				<div class = "descr-wrapper">
					<h3>Aplicación con plasma </h3>
					<p class = "wow fadeInUp" data-wow-duration="2s">A través de nuestra misma sangre se obtiene la fracción de plasma rico en  plaquetas y es estimulado mediante el activador de ADN plaquetario que le permite liberar ciertos complejos proteicos conocidos como factores de crecimiento los cuales regeneran células de diferentes tejidos logrando un rejuvenecimiento en piel, recuperar hidratación, eliminar cicatrices, combatir la hiperpigmentación y tonificación de la piel del rostro y del cuello.</p>
					<p class = "wow fadeInUp" data-wow-duration="2s">Es un activador celular que reactiva las funciones del ácido hialuronico, el colágeno y la elastina de nuestra piel por lo que se puede considerar un tratamiento regenerativo.</p>

				</p>
			</div>

		</div>
	</div>
</section>

<section id= "call-to-action" class = "wow fadeInUpLittle" data-wow-duration="1.4s">
	<div class = "call-wrapper">
		<h3 class = "wow fadeInUp" data-wow-duration="1.4s">No lo pienses más. Tu cuerpo te lo pide.</h3>
		<a href="diagnostico" class = "btn-flat btn-black wow fadeInUp" data-wow-duration="1.4s">Empezar diagnóstico</a>
	</div>
</section>

<% include ../partials/footer %> 

<% include ../partials/scripts %> 
</body>

</html>








